<header>
    <div class="main-header">
        <div class="site-title">
            <h1>HTML BASE PROJECT</h1>
        </div>
    </div>
    <div class="menu-button pull-right">
        <button onclick="toggleMenu()">&#9776;</button>
    </div>
</header>

<nav>
    <ul id="menuList" class="hide">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">MENU1</a>
        </li>
        <li>
            <a href="#">MENU2</a>
        </li>
        <li>
            <a href="#">MENU3</a>
        </li>
        <li>
            <a href="#">MENU4</a>
        </li>
    </ul>
</nav>